.list-item {
    border-bottom: 1px solid #f1f1f1;
    padding: 16px 8px 16px 0px;
}
.item-id {
    display: inline-block;
    width: 24px;
    text-align: center;
    margin-right: .5em;
    font-size: .8em;
    color: #aaa;
}
.item-w,
.list-item:hover .item-t {
    display: inline-block;
}
.item-t {
    display: none;
    color: #4f78ff;
    padding-left: .5em;
}
.play-btn {
    color: #4f78ff;
}
